<br>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">FacturaOnline</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLinkActivated="active" [routerLink]="['/productos']">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLinkActivated="active" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLinkActivated="active" routerLink="/facturas">Facturas</a>
      </li>
    </ul>
  </div>
</nav>
</div>